<%= simple_form_for [@hitman, @booking] do |f| %>
  <%= f.input :name, :placeholder => "target name..."%>
  <%= f.input :photo, :label => "Target", as: :file %>
  <%= f.submit %>
<% end %>

<a href="javascript:history.back()" class="button-24">Go Back</a>
