<div class="navbar border border-danger">
NAVBAR
</div>

<div class="profile-banner">
  <%= link_to hitmen_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="profile-container">
  <img src="https://twinfinite.net/wp-content/uploads/2021/04/hitman-3.jpeg" alt="">

  <p class="profile-name">
    <%= @hitman.name %>
  </p>

  <div class="killing-method-icons">
    <i class="fa-solid fa-shield-halved"></i>
    <i class="fa-solid fa-ghost"></i>
    <i class="fa-solid fa-campfire"></i>
  </div>


</div>

<p><%= @hitman.description %></p>

<%= link_to "Edit", edit_hitman_path(@hitman) %>
