.banner {
  background-image: url("banner.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px;
  display: flex;
  // https://i.pinimg.com/originals/0e/aa/c7/0eaac74f9ca770def10fcf3f9eecc234
  .slogan-container {
    padding-top: 350px;
    padding-bottom: 350px;
    h1 {
      color: #EDF2F4;
    }
  }

}
