.bookings-container {
  position: relative;
}

.user-profile{
  float: center;
}

.myhitmen{
  margin-left: auto;
  margin-right: auto;

}

.myhitmen h1 {
  width: 220px;
}

.imgitem {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 200px;
  padding-bottom: 50px;

}

.caption {
  font-size: 25px;
  font-weight: bold;
}

.fa-solid {
  padding: 20px;
  color: #d90429;
}

.btn-danger {
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.2);
  position: absolute;
  top: 10px;
  left: 140px;
  a {
    text-decoration: none;
    color: #2B2D42;
  }
}

.card-product-hitmen {
  position: relative;

  a {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.card-product {
  position: relative;
  margin-right: 25px;

  a {
    position: absolute;
    right: 0;
    top: 0;
  }
}
