.card-product-reviews {
  overflow: hidden;
  background: #EDF2F4;
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px #2B2D42;
  margin-bottom: 10px;
}

.each-review {
  background: #EDF2F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin: 10px;
  p{
    color: #2B2D42;
    font-size: 2em;
    font-weight: bold;
  }
  border-radius: 20px;

}

.scroll-reviews{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 20px;
  padding-right: 17px;
}

.review-content{
  display: flex;
  justify-content: center;
}
