.card-product {
  width: 100%;
  height: 120px;
  background: #EDF2F4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.card-product-hitmen {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 300px;
  border-radius: 5px;
}

.card-product-hitmen img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-hitmen h2 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}
