// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "profile_banner";
@import "profile_picture";
@import "cards";
@import "icon";
@import "banner";

body {
  color: #2b2d42;
  background-color: #edf2f4;
}

.big-height {
  min-height: 3000px;
}

