.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 80px;
  box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.2);
}

.nav-item {
  p {
    color: white;
    margin: auto;
    padding: 10px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  top: 0; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  padding: 0;
 }
