.profile-info-container {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  height: 450px;

  i {
    font-size: 30px;
    text-align: center;
  }
  h1 {
    margin: 10px auto;
  }

  .description {
    text-align: left;
  }
}

.killing-method-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
