<div class="container" style=" margin-top: 6%; width: 600px" >
  <%= simple_form_for [@hitman, @booking, @review] do |f| %>
    <div class="input-box my-3">
      <%= f.input :comment, :placeholder => "comment here..."%>
    </div>
    <div class="input-box my-3">
      <%= f.input :rating %>
    </div>
    <div class="button-25">
      <%= f.button :submit %>
    </div>
  <% end %>

  <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left text-danger"></i></a>
</div>
