<%= simple_form_for [ @hitman, @booking, @review ] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>

<a href="javascript:history.back()" class="button-24">Go Back</a>
